<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    
    <!-- Stylesheet and JavaScript files -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

        <%- include('../partials/header.ejs')%>
        <section class="home">
            <div class="text">
            <%- body %>
        <%- include('../partials/footer.ejs')%>
    </div>
    </section>


</html>