<!-- profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <% if (userProfileInfo && userProfileInfo.length > 0) { %>
        <form action="/profile/update" method="post">
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName" value="<%= userProfileInfo[0].fullName %>" required>
      
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" value="<%= userProfileInfo[0].dateOfBirth.toISOString().split('T')[0] %>" required>
      
          <label for="class">Class:</label>
          <input type="text" id="class" name="class" value="<%= userProfileInfo[0].class %>" required>
          <label for="gender">Gender:</label>
          <input type="text" id="gender" name="gender" value="<%= userProfileInfo[0].gender %>" required>
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" value="<%= userProfileInfo[0].address %>" required>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" value="<%= userProfileInfo[0].email %>" required>
          <label for="image">Image:</label>
          <input type="text" id="image" name="image" value="<%= userProfileInfo[0].image %>" required>
      
          <button type="submit">Save Changes</button>
        </form>
      <% } else { %>
        <p>No profile information available.</p>
      <% } %>
</html>
