<!-- profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <% if (userProfileInfo && userProfileInfo.length > 0) { %>
        <p>Full Name: <%= userProfileInfo[0].fullName %></p>
        <p>Date of Birth: <%= userProfileInfo[0].dateOfBirth %></p>
        <p>Class: <%= userProfileInfo[0].class %></p>
        <p>Gender: <%= userProfileInfo[0].gender %></p>
        <p>Address: <%= userProfileInfo[0].address %></p>
        <p>Email: <%= userProfileInfo[0].email %></p>
        <p>Image: <%= userProfileInfo[0].image %></p>
      <% } else { %>
        <p>No profile information available.</p>
      <% } %>
</body>
</html>
